<MarketplaceDetails>
  <SmallAppTile>icon_big.png</SmallAppTile>
  <ScreenShots>wp_ss_20130328_0002.png;wp_ss_20130328_0004.png;wp_ss_20130328_0005.png;wp_ss_20130328_0003.png;wp_ss_20130328_0007.png;wp_ss_20130328_0006.png;;;</ScreenShots>
  <ScreenShotsWXGA>1.png;2.png;5.png;4.png;3.png;6.png;;;</ScreenShotsWXGA>
  <ScreenShots720P>a1.png;a2.png;a3.png;a5.png;a6.png;a4.png;;;</ScreenShots720P>
</MarketplaceDetails>